<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sharif.courseworkapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseworkApp">
        <activity
            android:name=".ui.panel.CreateNewCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.account.LoginActivity" />
        <activity android:name=".ui.account.RegisterActivity" />
        <activity android:name=".ui.panel.ProfessorPanelActivity" />
        <activity android:name=".ui.panel.StudentPanelActivity" />
        <activity
            android:name=".ui.course.ProfessorCoursePage"
            android:theme="@style/Theme.CourseworkApp.NoActionBar" />
        <activity
            android:name=".ui.course.StudentCoursePage"
            android:theme="@style/Theme.CourseworkApp.NoActionBar" />
        <activity android:name=".ui.panel.StudentJoinCourseActivity" />
        <activity android:name=".ui.course.CreateNewHomeworkActivity" />
        <activity android:name=".ui.homework.StudentHomeworkPage" />
        <activity
            android:name=".ui.homework.ProfessorHomeworkPage"
            android:theme="@style/Theme.CourseworkApp.NoActionBar"/>
        <activity android:name=".ui.homework.EditHomeworkNameActivity" />
        <activity android:name=".ui.homework.ProfessorAnswerPage" />
    </application>

</manifest>